# -- LangChain Integrations --
langchain-tavily
langchain-groq
langgraph

# -- User Interface --
streamlit
watchdog

# -- API --
uvicorn
fastapi

# -- Data Validation --
pydantic

# -- Environment Variable Management --
python-dotenv
